ul#nav
	li.current(data-rel="#general_options") {{General}}

	// Compiler Navigation
	each compiler in compilers
		li(data-rel="#" + compiler.name + "_options")= compiler.display
	li(data-rel="#compass_options") Compass
	li(data-rel="#advanced_options") {{Advanced}}
	li(data-rel="#help_options") {{Help}}
	li(data-rel="#about_options") {{About}}

div#content
	// General options
	div#general_options
		h2 {{General}}
		p.selectitem.mb5 {{Language:}} 
			select#locales
				each language in languages
					option(value=language.code, name=language.code)= language.name
		label
			input#minimizeToTray(type="checkbox")
			|  {{Minimize To Tray}}
		br
		label
			input#minimizeOnStartup(type="checkbox")
			|  {{Minimize On Startup}}

		p.mt10 {{Filter:}}
			input#filter(type="text", placeholder="{{filters}}")

	// mixin checkbox
	mixin args_checkbox(option, compilerName)
		label
			input.compile_option(type="checkbox", data-rel=compilerName, data-name=option.name, checked=option.value)
			|  #{option.display}
		br

	// mixin droplist
	mixin args_droplist(option, compilerName)
		p.mb5= option.display + ': '
			select.compile_option(data-rel=compilerName, data-name=option.name)
				each item in option.items
					option(value=item.value, selected=option.value === item.value)= item.text

	// compiler options
	each compiler in compilers
			div.hide(id=compiler.name + "_options")
				h2= compiler.display

				if compiler.options.length
					h3 {{Default Options}}
					div.optionbox
						each option in compiler.options
							if option.type === "single"
								mixin args_checkbox(option, compiler.name)

							if option.type === "multiple"
								mixin args_droplist(option, compiler.name)

				h3 {{Advanced Settings}}
				div.optionbox
					p {{Using System Commands:}}
					each command in compiler.commands
						label
							input.compiler_command(type="checkbox", data-rel=command)
							|  #{command}
						br

				h3 {{Libraries Version}}
				div.optionbox
					each lib in compiler.libraries
						| #{lib}
						br

				if compiler.maintainers
					h3 {{Maintainers}}
					div.optionbox
						a.externalLink(href=compiler.maintainers.web)= compiler.maintainers.name
						if compiler.maintainers.email
							|  &lt;#{compiler.maintainers.email}&gt;
						br
						| {{Project Website:}} 
						a.externalLink(href=compiler.maintainers.project)= compiler.maintainers.project

				if compiler.isExtension
					button.uninstall(data-rel=compiler.name) {{Uninstall This Extension}}

	// compass options
	div#compass_options.hide
		h2 Compass
		div.mt10 {{compass project configuration instructions}}


	// advanced options
	div#advanced_options.hide
		h2 {{Advanced}}
		p.mt10
			button#openExtsFolder {{Open Extensions Folder}}

	// help options
	div#help_options.hide
		h2 {{Help}}
		p.mt10
			| {{Docs:}} 
			a#link_docs.externalLink(href="maintainers.docs")= maintainers.docs
			br
			| {{Bug Report:}} 
			a#link_issues.externalLink(href=maintainers.issues)= maintainers.issues

	// about options
	div#about_options.hide
		h2 {{About}}
		div#about
			| Copyright (c) 2013 
			a.externalLink(href=maintainers.web)= maintainers.name
			br
			
			| {{Project Website:}} 
			a#link_project.externalLink(href=maintainers.project)= maintainers.project
			br
			
			div#upgradetips
				p.update
					| {{new version available}}
					a#link_download.externalLink(href="#") {{Download Now}}
					| .
				p.noupdate {{This is the lastest version.}}

			| {{[@settings.html]Version:}} v
			span#koalaVersion= appVersion
			button#checkupgrade {{Check Upgrade}}
			span#upgradeloading {{Checking...}}
			br
			
			| {{Contributors:}} 
			span.contributors
				each people in maintainers.contributors
					a.externalLink(href=people.web)= people.name
			br

			if translator.name !== 'Official'
				| {{Translator:}}
				a.externalLink(href=translator.web)= translator.name
