each item in files
	-var src = item.src, type = item.type
	li(data-src=src, data-type=type)
		h3.name #{item.name}
		p.src #{item.src}
		p.output
			span #{item.output}
			button.changeOutput change