each file in files
	li.file_item(class=file.compile ? '' : ' disable', data-src=file.src, data-type=file.type, data-pid=file.pid, data-id=file.id, id=file.id)
		img.icon(src=file.icon)
		h3.name= file.shortSrc
		p.output
			button.custom_button.changeOutput change
			span= file.shortOutput