each item in files
	classList = 'type_' + item.type + ' ext_' + item.extension + (item.compile ? '' : ' disable')
	li.file_item(class=classList, data-src=item.src, data-type=item.type, data-pid=item.pid, data-id=item.id, id=item.id)
		h3.name= item.shortSrc
		p.output
			button.custom_button.changeOutput change
			span= item.shortOutput