input(type="hidden", name="pid", value=file.pid)
input(type="hidden", name="src", value=file.src)
input(type="hidden", name="id", value=file.id)

div
	h3.type(data-type=compilerName)
	h4.targetName= file.name

	label
		input(type="checkbox",class="compileStatus",checked=file.compile)
		span {{auto compile}}

	mixin args_checkbox(option)
		label
			input(type="checkbox", class=option.name, data-option-name=option.name, checked=option.value)
			span= option.display

	mixin args_droplist(option)
		h3.title= option.display + ': '
		select(class=option.name)
			each item in option.items
				option(value = item.value, selected = option.value === item.value)= item.text

	if options.length > 0
		div.optionItem.option_args
			h3.title {{[@jadetmpl.html]options:}}
			each option in options
				if option.type === "single"
					mixin args_checkbox(option)

				if option.type === "multiple"
					mixin args_droplist(option)

	footer
		button(class="compileManually") {{[@jadetmpl.html]compile}}